
{% extends 'base/base.html' %}

{% load static %}

{% block base %}

  <div class="container">
     <div class="jumbotron">
      <form action="" method="post">{% csrf_token %}
    
       <div class="alert alert-success" role="alert">
        Are you sure you want to delete?
        </div>
          <input class='btn btn-success' type="submit" value="Yes"/>
          <a href={% url 'blog:detail' custom_object.pk %} class='btn btn-danger'>No</a>

        </form>
    </div>

  </div>

{% endblock %}
       
     