{% extends 'base/base.html' %}

{% load static %}

{% block base %}


<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">


<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l2 s12">
  <p></p>
</div>

<div class="w3-col l8 s12">
  
  	{% for post in posts %}

    
	  	<!-- Blog entry -->

  <div class="w3-card-4 w3-margin w3-white">
  <img src="{{ post.preview_image_url }}" style="width:100%;height:300px">
    <div class="w3-container">
      <h3><b>{{ post.title }}</b></h3>
      <h5>Published on <span class="w3-opacity">{{post.published_date}}</span></h5>
    </div>

    <div class="w3-container">
      <p>
	  	{{ post.preview_text }}
	  </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p>
            <a class="btn btn-warning" href="{% url 'blog:detail' post.pk %}"><b>READ MORE »</b></a>
            <a class="btn btn-primary" href="{% url 'blog:publish' post.pk %}"><b>Publish</b></a>
          </p>

        </div>
        <div class="w3-col m4 w3-hide-small">
          <span class="w3-padding-large w3-right"><b>Comments</b> <span class="w3-badge">{{ post.comments.count }}</span></span>
        
        </div>
      </div>
    </div>
  </div>
  <hr>
	{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?page=1">&laquo; First Page</a>
            <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">Next Page</a>
            <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">Last Page &raquo;</a>
        {% endif %}
    </span>
    </div>


<div class="w3-col l2 s12">
  <p></p>
</div>


  
<!-- END BLOG ENTRIES -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>


{% endblock %}

